.about_page {
  height: 350vh;
  width: 100%;
  /* background: lightgray; */
  overflow: auto;
  box-shadow: 2px -1px 9px var(--color-text-primary);
}

.about_header {
  height: 50%;
  width: 100%;
  /* border: 2px solid black; */
}

.tag_divs {
  display: inline-block;
  margin: 2px 2px;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  padding: 0.25em;
  /* color: var(--text-primary); */
}

.gray_tag {
  padding: 0.25em;

  background: gray;
}

.blue_tag {
  padding: 0.25em;

  background: blue;
}

.description_box {
  border: 1px solid var(--color-bg-primary);
}

.about_top_flex_start {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 1em;
  width: 100%;
}

.top_meta {
  /* display: flex; */
  margin: 10px 0px;
  /* align-items: center;
  justify-content: space-evenly; */
  width: clamp(40%, 300px, 90%);
}

.top_meta h5 {
  display: inline-block;
  margin: 0px 2px;
}

.dot {
  transform: translateY(2px);
}

.green {
  color: green;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
/*
.tan {
  color: tan;
  padding
}

.tan:hover {
  background: rgb(248, 212, 165);
  padding: 0.25em;
}



.red:hover {
  background: rgb(243, 107, 107);
}

.violet {
  color: rgb(173, 23, 173);
}

.violet:hover {
  background: violet;
}

.purple {
  color: purple;
}

.purple:hover {
  background: rgb(240, 83, 240);
}

.green_blue {
  color: rgb(0, 128, 111);
}

.green_blue:hover {
  background: rgb(74, 182, 167);
}

*/

.red {
  color: red;
}

.courier_new {
  font-family: Courier new;
}

.about_header_text_center_div {
  text-align: center;
  width: 100%;
}

.about_header_text_center_div h4 {
  cursor: pointer;
}

.header_item {
  padding: 0.75em;
  width: 100%;

  /* border: 2px solid red; */
}

.item_info_span {
  transform: translateY(5px);
  /* width: 70%; */
  margin: 0 auto;
  position: absolute;
  /* height: 100px; */
  /* border: 2px solid blue; */
  background: var(--color-bg-secondary);
  padding: 0.5em;
  border-radius: 20px;
  width: 100%;
  height: 40px;
  display: none;
  pointer-events: none;
  color: var(--color-text-primary);
}

.test_span {
  width: 200px;
  height: 20px;
  border: 2px solid green;
}

.about_header_middle {
  padding: 1em;
}

.about_h1 {
  font-size: 100px;
}

.about_body {
  height: 75%;
  width: 100%;
  /* border: 2px solid red; */
}

.about_body_content {
  padding: 1em;
  height: 100%;
  width: 100%;
}

.courier_code {
  background: lightgray;
  padding: 0.5em;
  margin: 5px 0px;
}

.courier_code h5 {
  margin: 5px 0px;
}

.title_h4 {
  margin: 15px 0px;
}

.doc_h5 {
  width: 100%;
  background: red;
  margin: 0 auto;
  /* margin-top: 10px; */
  padding: 0.5em;
}

.h5_comment {
  margin-bottom: 25px;
  color: red;
}

.big_section {
  height: 400px;
  width: 100%;
  border: 3px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
}

.about_section {
  width: 80%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid black;
}

.big_section p {
  margin-top: 25px;
}

.large_p {
  font-size: 65px;
  position: relative;
  float: left;
  transform: translateY(-12px);
  height: 65px;
}

.icon_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.icon {
  font-size: 55px;
  color: red;
  background: rgb(231, 119, 119);
  border-radius: 50%;
  box-shadow: 3px 4px 9px rgb(231, 119, 119);
}
