html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: var(--color-text-primary);
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body[data-theme="light"] {
  --color-text-primary: rgb(77, 71, 71);
  --color-text-secondary: gray;
  --color-bg-primary: white;
  --color-bg-secondary: lightgray;
}

body[data-theme="dark"] {
  --color-bg-primary: rgb(44, 41, 41);
  --color-bg-secondary: gray;
  --color-text-primary: white;
  --color-text-secondary: rgb(85, 85, 238);
}

body {
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  transition: 1s ease;
}

.app {
  height: 100vh;
  width: 100vw;
}

main {
  height: 100%;
  width: 100%;
}

nav {
  height: 10%;
  width: 100%;
}
