.container {
  height: 100%;
  width: 100%;
}

.main {
  height: 100%;
  width: 100%;
}

/*Nav */

.nav_body {
  height: 100%;
  width: 100%;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle_wrapper {
  text-align: center;
  color: var(--color-text-primary);
  transform: translateY(-3px);
}

.nav_header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 40%;
  height: 100%;
  /* border: 2px solid red; */
  min-width: 50%;
}

.dash {
  margin: 0px 2px;
}

.nav_header_text {
  display: flex;
}

.nav_links,
.nav_option_links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav_item {
  margin: 0px 5px;
  cursor: pointer;
  text-align: center;
}

.nav_item_plus {
  transform: translateY(-5px);
  cursor: pointer;
  display: none;
}

.underline {
  width: 100%;
  height: 2px;
  transform: scale(0);
  background: var(--color-text-secondary);
  transform-origin: center;
  margin-top: 7px;
}

.nav_item:hover .underline {
  animation: grow 0.25s forwards;
}

@keyframes grow {
  100% {
    transform: scale(1);
  }
}

.profile_img_wrapper {
  border-radius: 50%;
  overflow: hidden;
  margin-left: 15px;
  transform: scale(100%);
  cursor: pointer;
  transition: 0.2s ease-in;
  box-shadow: 2px 3px 7px var(--color-text-primary);
}

.profile_img_wrapper:hover {
  border-radius: 50%;
  overflow: hidden;
  margin-left: 15px;
  transform: scale(1.5) translate(15px, 15px);

  cursor: pointer;
  box-shadow: 2px 3px 7px var(--color-text-primary);
}

.mobile_toggle_div {
  display: none;
  overflow: hidden;

  /* background: white; */
}

.lrg_screen_toggle_div {
  display: block;
  /* background: white; */
}

@media screen and (max-width: 450px) {
  .nav_body {
    padding: 0.5em;
  }
  .nav-header {
    font-size: 12px;
  }

  .profile_img_wrapper {
    transform: scale(65%);
  }

  .nav_header_text {
    flex-direction: column;
  }

  .nav_item {
    font-size: 10px;
  }

  .mobile_toggle_div {
    display: block;
  }

  .lrg_screen_toggle_div {
    display: none;
    background: white;
  }

  .dash {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .nav_item_plus {
    transform: translateY(-5px);
    cursor: pointer;
    display: block;
  }
  .nav_option_links {
    width: 0px;
    overflow: hidden;
  }
}
